WCF/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCsv" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getFlightInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFlightInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightInfo2_InputMessage">
    <wsdl:part name="parameters" element="tns:getFlightInfo2" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightInfo2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFlightInfo2Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadCsv" message="tns:IService1_ReadCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadCsvResponse" message="tns:IService1_ReadCsv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFlightInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFlightInfo" message="tns:IService1_getFlightInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFlightInfoResponse" message="tns:IService1_getFlightInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFlightInfo2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFlightInfo2" message="tns:IService1_getFlightInfo2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFlightInfo2Response" message="tns:IService1_getFlightInfo2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCsv">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlightInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/getFlightInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlightInfo2">
      <soap:operation soapAction="http://tempuri.org/IService1/getFlightInfo2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>